<h1 class="text-center">Employee Portal</h1>

<div class="d-flex justify-content-center">
    <a class="text-white btn btn-primary m-2 btn-lg" asp-controller="" asp-action="">Manage Orders</a>
</div>
<div class="text-center">
    <img class="img-fluid m-2 rounded" src="~/images/clipboard.png">
</div>