<h1 class="text-center">Administrator Portal</h1>

<div class="d-flex justify-content-center">
    <a class="text-white btn btn-primary m-2 btn-lg" asp-area="Admin" asp-controller="Location" asp-action="Index">Manage Locations</a>
    <a class="text-white btn btn-primary m-2 btn-lg" asp-area="Admin"asp-controller="" asp-action="Index">Manage Employees</a>
    <a class="text-white btn btn-primary m-2 btn-lg" asp-area="Admin"asp-controller="Category" asp-action="Index">Manage Categories</a>
    <a class="text-white btn btn-primary m-2 btn-lg" asp-area="Admin"asp-controller="Menu" asp-action="Index">Manage Menu Items</a>
</div>
<div class="text-center">
    <img class="img-fluid m-2 rounded" src="~/images/clipboard.png">
</div>