@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur suscipit fermentum vestibulum. Nunc tincidunt
    tortor sem, eget mattis ligula lobortis eget. Mauris
    efficitur nisi a tellus ultricies, ac iaculis ante
    scelerisque. Aenean bibendum nulla mi, eget molestie
    turpis interdum eu. Aliquam faucibus elit sed volutpat
    elementum. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Fusce libero ante,
    tristique quis feugiat non, cursus sed diam. Vestibulum
    pellentesque ut massa ut pellentesque.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur suscipit fermentum vestibulum. Nunc tincidunt
    tortor sem, eget mattis ligula lobortis eget. Mauris
    efficitur nisi a tellus ultricies, ac iaculis ante
    scelerisque. Aenean bibendum nulla mi, eget molestie
    turpis interdum eu. Aliquam faucibus elit sed volutpat
    elementum. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Fusce libero ante,
    tristique quis feugiat non, cursus sed diam. Vestibulum
    pellentesque ut massa ut pellentesque.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur suscipit fermentum vestibulum. Nunc tincidunt
    tortor sem, eget mattis ligula lobortis eget. Mauris
    efficitur nisi a tellus ultricies, ac iaculis ante
    scelerisque. Aenean bibendum nulla mi, eget molestie
    turpis interdum eu. Aliquam faucibus elit sed volutpat
    elementum. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Fusce libero ante,
    tristique quis feugiat non, cursus sed diam. Vestibulum
    pellentesque ut massa ut pellentesque.

</p>
